* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #282b4c;
    color: white;

}

h1 {
    text-align: center;
    margin: 70px auto 50px;
    font-weight: 600;
}

.searchbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}


.search {
    border: 2px solid #3a3d62;
    width: 30%;
    max-width: 600;
    box-shadow: #403571;
    margin-left: 70px;
    height: 50px;
    background: #282b4c;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.search input {
    flex: 1;
    height: 100%;
    border: 5px solid #282b4c;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
}

#search-button {
    align-content: left;
    text-align: left;
    margin: 0 30px;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: #403571;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
}

.search-icon {
    padding: 10px;
}

/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(44 47 84);
    height: 100%;

    border-radius: 55px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 800px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-content: center;
    margin: 0;
    margin-left: 185px;
    margin-bottom: 50px;
}

#cityInput {
    font-size: 20px;
    width: 700px;
    height: 35px;
    background-color: rgb(44 47 84);
    color: white;
    /* border-style: none; */
    border: 0.5px solid #585884;
    border-radius: 55px;
    text-indent: 10px;
}

.head-title {
    color: transparent;
    font-weight: 800;
    text-align: center;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    height: 70px;
    background-image: url(imges/HD-wallpaper-rain-drop-color-colour-water.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
}

.title-text {
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 50px;
    transition: all 0.2s ease;
}

.title-text:hover {
    margin-bottom: 15px;
}

.input-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6c5e96;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 115px;
    border-radius: 55px;
    transition: all 0.3s ease;
    font-weight: 600;
}

#addButton:hover {
    scale: 1.03;
}

#Cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 15px 0px 70px;
}

#call-alert {
    width: 250px;
    height: 300px;
    display: none;
}



/*--------------------------------CARD-------------------------*/


#cards {
    display: flex;
    height: 28vh;
    width: 20vw;
    background-image: url(images/Rectangle\ 1.png);
    background-size: 100% 100%;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0px 0px 35px;
}

#cards:hover {
    scale: 1.03;
}

#details {
    width: 140px;
    top: 60px;
    position: relative;
    height: 150px;
    margin-left: 10px;
}

#weather-type {
    text-align: end;
    margin: 0;
    /* text-indent: 0px; */
    margin-right: 40px;
}

#wind {
    font-size: 15px;
    color: #a8a8a8;
}

#temp {
    font-size: 35px;
    margin: 0;
}

#weather-img {
    width: 140px;
    height: 140px;
}

#bg-color {
    position: absolute;
    color: blue;
    height: 190px;
    width: 300px;
    background-color: bisque;
}